---
import BaseLayout from "../layouts/BaseLayout.astro";
import FlightData from "../components/FlightData"; // Import the FlightData component

const { title = 'Flight Tracker', description = 'Track flight data' } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <iframe src="https://globe.adsbexchange.com/?feed=TIS6mWpnVYgH&hideSidebar&hideButtons&kiosk&zoom=8&lat=39.172&lon=-104.853" width="800px" height="600px" frameBorder="0" style="border: 0;"></iframe><br>Brought to you by <a href="https://www.gavmatt.com/" target="_blank">https://www.gavmatt.com/</a></BaseLayout>
