---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="flight-tracker" customTitle="What's Overhead?">
   <div class="text-5xl font-bold" style="text-align: center;">
        Live air traffic in Colorado Springs
    </div>
    <p style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
       All data is captured from my home ADS-B antenna setup and feeds to providers including Flightradar24, ADS-B Exchange, and Flightaware! Want to try this yourself? <a href="https://www.gavmatt.com/blog/flight-tracking"></a>Learn more</a>.
    </p>
    <div style="display: flex; justify-content: center;">
        <iframe src="https://globe.adsbexchange.com/?feed=dzxvAzrTfUSY&hideSidebar&hideButtons&zoom=8&lat=48.415&lon=-114.459" width="800" height="600" frameborder="0" style="border: 0;"></iframe>
    </div>
</BaseLayout>
