---
import BaseLayout from "../layouts/BaseLayout.astro";
import FlightData from "../components/FlightData"; // Import the FlightData component

const { title = 'Flight Tracker', description = 'Track flight data' } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <div class="iframely-embed"><div class="iframely-responsive" style="height: 140px; padding-bottom: 0;"><a href="https://globe.adsbexchange.com/?feed=TIS6mWpnVYgH" data-iframely-url="//iframely.net/fg4eV2i"></a></div></div><script async src="//iframely.net/embed.js"></script>
</BaseLayout>
