---
import BaseLayout from '../layouts/BaseLayout.astro';
import QSLMap from '../components/QSLMap.tsx';
---

<BaseLayout title="Ham Radio" sideBarActiveItemID="ham">
  <div class="pb-12 mt-5">
    <div class="text-3xl py-3 font-bold">Ham Radio</div>
    <div class="py-2 text-lg">
      Confirmed DX (long distance) contacts on various HF radio bands. I use a EFHW antenna in my attic with a Kenwood TS-590S and hope and pray for good conditions to crack through the noise. 
    </div>
    <div class="divider my-0" />
    <div class="mt-6">
      <QSLMap client:only="react" />
    </div>
  </div>
</BaseLayout>