---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Selected Projects</div>
  </div>
  <p>Facts</p>
  <div></div>
  <div>
    <div class="text-3xl w-full font-bold mb-5">Contentful</div>
  </div>

  <HorizontalCard
    title="AI Content Generator"
    img="/AICG.png"
    desc="Contentful's AI Content Generator uses OpenAI to generate, rewrite, translate, and optimize content."
    url="https://www.contentful.com/marketplace/app/ai-content-generator/"
    badge="NEW"
    />
  <HorizontalCard
    title="Contentful Marketplace"
    img="/Marketplace.png"
    desc="Contentful Marketplace is filled with dozens of apps and integrations with industry standard trust and security."
    url="https://www.contentful.com/marketplace/"
  />
  <div class="divider my-0"></div>
  

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Red Canary</div>
  </div>

  <HorizontalCard
    title="Linux EDR"
    img="/Linux.jpg"
    desc="Red Canary's Linux EDR provides industry-leading MDR and EDR for Linux instances, including desktops/laptops, servers, and cloud instances."
    url="https://redcanary.com/products/linux-edr/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
</BaseLayout>
