---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Recent Publications and Interviews</div>
  </div>

  <p>Articles, interviews, and other content I've produced or coordinated!</p>
  <div class="pb-12 mt-5"></div>

  <HorizontalCard
    title="Marketers Overwhelmed by Data Look to AI for Help"
    img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/lgfysy7muoanb6prrflu"
    desc="Interview with Bloomberg on how AI can transform data for personalization"
    url="https://sponsored.bloomberg.com/quicksight/contentful/marketers-overwhelmed-by-data-look-to-ai-for-help"
    badge="Interview"
    />
  <HorizontalCard
    title="Responsible AI begins with robust policies for teams using AI technologies"
    img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/j1d44a7vlwj52mcx7u4q"
    desc="I interviewed Alaura Weaver, Senior Manager, Content and Community at Writer, about responsible use of AI in content"
    url="https://www.contentful.com/blog/responsible-ai-begins-with-robust-policies-for-teams-using-ai-technologies/"
    badge="Article"
    />
  <HorizontalCard
    title="Extend experiences and scale fast with the AI Content Generator"
    img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/derofh3bdh2crerqpavo"
    desc="I cover Contentful's AI Content Generator, bringing together ChatGPT and the world's most scalable headless CMS!"
    url="https://www.contentful.com/blog/extend-experiences-scale-fast-ai-content-generator/"
    badge="Article"
    />
  <HorizontalCard
  title="An ecosystem of innovation and extensibility: AI meets composability"
  img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/ljf0jdihv1ld0duoxuzs"
  desc="I interviewed Mairead O’Donovan, Chief Product Officer at Contentful, about what problems AI can solve NOW for content teams"
  url="https://www.contentful.com/blog/an-ecosystem-of-innovation-and-extensibility-ai-meets-composability/"
  badge="Article"
 />
<HorizontalCard
title="Solving the blank page problem: What does AI mean for content creators?"
img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/jory89rkshdjykfuf4hv"
desc="I interviewed Paolo Negri, Co-Founder and CTO of Contentful, about the realm of now for AI and what concepts you need to know"
url="https://www.contentful.com/blog/solving-the-blank-page-problem-what-does-ai-mean-for-content-creators/"
badge="Article"
/>
<HorizontalCard
title="Testing Linux runtime threat detection tools"
img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/fycn5iar3jzuylyq512m"
desc="I interviewed Paolo Negri, Co-Founder and CTO of Contentful, about the realm of now for AI and what concepts you need to know"
url="https://www.contentful.com/blog/solving-the-blank-page-problem-what-does-ai-mean-for-content-creators/"
badge="Article"
/>
<HorizontalCard
title="Linux 101: Demystifying the world’s most customizable operating system"
img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/fycn5iar3jzuylyq512m"
desc="Your guide to the essentials of the Linux operating system across cloud infrastructure and software-as-a-service (SaaS) applications"
url="https://redcanary.com/blog/linux-101/"
badge="Article"
/>
<HorizontalCard
title="5 ways you can help fulfill the promise of secure DevOps"
img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/t0fniaitnwnk59epodnm"
desc="Adopting infrastructure as code doesn’t mean you have to cut corners in your security operations"
url="https://redcanary.com/blog/secure-devops/"
badge="Article"
/>
<HorizontalCard
title="Introducing Red Canary CWP Shell Activities"
img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/n8fvggcqtfq5ymttjkjl"
desc="Understand commands run inside your workloads, follow all activity and user behavior, and play back history in your environment"
url="https://redcanary.com/blog/cwp-shell-activities/"
badge="Article"
/>
<!-- <div class="divider my-0"></div>
 <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
