---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Recent Publications and Interviews</div>
  </div>
  <!-- 
  <p>I've had the privilege to work at several extraordinary companies backed by incredible teams designing amazing products! Here is a sample of projects I've worked on as Product Manager.</p>
  <div class="pb-12 mt-5"></div>

    <div>
    <div class="text-3xl w-full font-bold mb-5">Contentful</div>
  </div> -->

  <HorizontalCard
    title="Marketers Overwhelmed by Data Look to AI for Help"
    img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/lgfysy7muoanb6prrflu"
    desc="Interview with Bloomberg on how AI can transform data for personalization"
    url="https://sponsored.bloomberg.com/quicksight/contentful/marketers-overwhelmed-by-data-look-to-ai-for-help"
    badge="NEW"
    />
  <HorizontalCard
    title="Responsible AI begins with robust policies for teams using AI technologies"
    img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/j1d44a7vlwj52mcx7u4q"
    desc="I interviewed Alaura Weaver, Senior Manager, Content and Community at Writer, about responsible use of AI in content"
    url="https://www.contentful.com/blog/responsible-ai-begins-with-robust-policies-for-teams-using-ai-technologies/"
  />
  <HorizontalCard
    title="Extend experiences and scale fast with the AI Content Generator"
    img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/derofh3bdh2crerqpavo"
    desc="I cover Contentful's AI Content Generator, bringing together ChatGPT and the world's most scalable headless CMS!"
    url="https://www.contentful.com/blog/extend-experiences-scale-fast-ai-content-generator/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="https://www.contentful.com/blog/an-ecosystem-of-innovation-and-extensibility-ai-meets-composability/"
  img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/ljf0jdihv1ld0duoxuzs"
  desc="I interviewed Mairead O’Donovan, Chief Product Officer at Contentful, about what problems AI can solve NOW for content teams"
  url="https://www.contentful.com/blog/solving-the-blank-page-problem-what-does-ai-mean-for-content-creators/"
/>
<HorizontalCard
title="https://www.contentful.com/blog/an-ecosystem-of-innovation-and-extensibility-ai-meets-composability/"
img="https://res.cloudinary.com/draaqu0o9/image/upload/f_auto,q_auto/v1/Publications/jory89rkshdjykfuf4hv"
desc="I interviewed Paolo Negri, Co-Founder and CTO of Contentful, about the realm of now for AI and what concepts you need to know"
url="https://www.contentful.com/blog/solving-the-blank-page-problem-what-does-ai-mean-for-content-creators/"
/>
<!-- <div class="divider my-0"></div>
 <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
