---
import WeatherLayout from "../layouts/WeatherLayout.astro";
import WeatherDashboard from "../components/WeatherDashboard.jsx";
import WeatherChart from '../components/WeatherChart.jsx';


const apiEndpoint = '/api/weather';
const apiEndpoint2 = '/api/getWeatherData';
---

<WeatherLayout sideBarActiveItemID="weather" customTitle="Colorado Springs Weather" 
customDescription="My weather station and ChatGPT combine to give you the weather!" 
customImage="/colorado-springs-weather.png">
    <div class="text-5xl font-bold" style="text-align: center">
        Current Weather in Colorado Springs
    </div>
    <p style="text-align: center;padding-top:20px">
        This data is captured from my home weather station and the National Weather Service! This is an
        experiment entirely using ChatGPT to create the components and pull data from
        Ambient Weather. I have very rough JS knowledge, so I want to see how far I can push it just using GPT-generated code and my own FE skills.
    </p>
    <div style="padding-top:50px">
        <WeatherDashboard client:load apiEndpoint={apiEndpoint} />
    </div>

<!--    
    <div style="padding-top:50px">
        <WeatherChart client:load apiEndpoint={apiEndpoint2}/>
    </div>
-->
</WeatherLayout>
