

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content="Astro" />

<!-- Primary Meta Tags -->
<title>Gardenpalooza</title>
<meta name="title" content="Gardenpalooza" />
<meta name="description" content="25% 1994 web design, 25% sprites, 25% RTSP, and 25% horrible." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.gavmatt.com/gardenpalooza" />
<meta property="og:title" content="Gardenpalooza" />
<meta property="og:description" content="25% 1994 web design, 25% sprites, 25% RTSP, and 25% horrible." />
<meta property="og:image" content="https://www.gavmatt.com/public/gardenpalooza/garden_view.jpg" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://www.gavmatt.com/gardenpalooza" />
<meta property="twitter:title" content="Gardenpalooza" />
<meta property="twitter:description" content="25% 1994 web design, 25% sprites, 25% RTSP, and 25% horrible." />
<meta property="twitter:image" content="https://www.gavmatt.com/public/gardenpalooza/garden_view.jpg" />

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
