.cold-temp {
    color: blue;
    animation: shake 5s;
  }
  
  .hot-temp {
    color: red;
    animation: shake 5s;
  }
  
  .normal-temp {
    color: rgb(175, 175, 7);
  }
  
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
  }
  